.navbar-inverse .navbar-inner {
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-image: none;
  border-color: #ffffff;
}
.navbar-inverse .navbar-inner .nav {
  /*a.bevereges {
      background: url(../img/menu-sprite-v2.png) -263px -3px no-repeat;
      width: 85px;
      height: 40px;
      float: left;
      color: #ccc;
      text-decoration: none;
      text-align: right;
      font-size: 9px;
    }
    a.cooking {
      background: url(../img/menu-sprite-v2.png) -628px -3px no-repeat;
      width: 110px;
      height: 40px;
      color: #ccc;
      text-decoration: none;
      span {
        margin-top: -7%;
        width: 70px;
        float: right;
        font-size: 9px;
      }
    }
    a.breakfast {
      background: url(../img/menu-sprite-v2.png) -495px -3px no-repeat;
      width: 110px;
      height: 40px;
      color: #ccc;
      text-decoration: none;
      span {
        width: 70px;
        float: right;
        font-size: 9px;

      }
    }
    a.food {
      background: url(../img/menu-sprite-v2.png) -379px -3px no-repeat;
      width: 100px;
      height: 40px;
      color: #ccc;
      text-decoration: none;
      span {
        margin-top: -7%;
        width: 70px;
        float: right;
        font-size: 9px;
      }
    }
    a.garment {
      background: url(../img/menu-sprite-v2.png) -762px -3px no-repeat;
      width: 110px;
      height: 40px;
      color: #ccc;
      text-decoration: none;
      span {
        margin-top: -7%;
        width: 70px;
        float: right;
        font-size: 9px;
      }
    }
    a.floor {
      background: url(../img/menu-sprite-v2.png) -132px -3px no-repeat;
      width: 105px;
      height: 40px;
      color: #ccc;
      text-decoration: none;
      span {
        margin-top: -7%;
        width: 70px;
        float: right;
        font-size: 9px;
      }    }
    a.personal {
      background: url(../img/menu-sprite-v2.png) 0px -5px no-repeat;
      width: 105px;
      height: 40px;
      color: #ccc;
      text-decoration: none;
      span {
        margin-top: -7%;
        width: 70px;
        float: right;
        font-size: 9px;
      }    }
    a.heating {
      background: url(../img/menu-sprite-v2.png) -901px -3px no-repeat;
      width: 105px;
      height: 40px;
      color: #ccc;
      text-decoration: none;
      span {
        margin-top: -7%;
        width: 70px;
        float: right;
        font-size: 9px;
      }    }*/

}
.navbar-inverse .navbar-inner .nav li {
  max-width: 110px;
}
.navbar-inverse .navbar-inner .nav li a:hover {
  color: black;
}
.cart-icon {
  background: url(../img/icons.png) no-repeat -63px -2px;
  width: 22px;
  height: 16px;
  margin-left: 3px;
  margin-top: 2px;
}
.topnavigation-cart {
  padding: 20px;
  color: #878787;
}
.topnavigation-cart a {
  color: #b5b5b5;
  text-decoration: none;
  font-weight: bold;
}
.topnavigation-cart .total {
  border-left: 1px solid #878787;
  margin-left: 6px;
  padding-left: 6px;
}
.topnavigation-cart .fon-11 {
  font-size: 11px;
}
#mainCarousel .carousel-inner .item img {
  width: 100%;
}
#mainCarouselContainer {
  padding-top: 15%;
}
#mainCarouselContainer .row {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.form-search {
  margin-top: 20px;
}
@media (max-width: 979px) {
  #mainCarouselContainer {
    padding-top: 0%;
  }

  .navbar-inverse .navbar-inner .nav li {
    max-width: 100%;
  }
  .navbar-inverse .nav-collapse .nav > li > a:hover,
  .navbar-inverse .nav-collapse .nav > li > a:focus,
  .navbar-inverse .nav-collapse .dropdown-menu a:hover,
  .navbar-inverse .nav-collapse .dropdown-menu a:focus {
    background-color: #111111;
    color: #fff;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
    #relatedCarousel {
        display:none;
    }
}
#relatedCarousel .item a {
  text-decoration: none;
}
#relatedCarousel .item a span.text {
  padding-bottom: 8px;
  font-size: 14px;
  padding-top: 8px;
  color: #000;
  float: none;
}
#relatedCarousel .item a div.price {
  color: #d92128;
  font-size: 14px;
  text-decoration: none;
  margin-top: 10px;
}
#relatedCarousel .item a:hover div.price {
  color: #d92128;
  font-size: 14px;
  text-decoration: none;
  margin-top: 10px;
}
.box {
  float: left;
  margin-left: 43px;
  margin-right: 6px;
}
