.navbar-inverse .navbar-inner {
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-image: none;
  border-color: #ffffff;
}
.navbar-inverse .navbar-inner .nav {
  /*a.bevereges {
      background: url(../img/menu-sprite-v2.png) -263px -3px no-repeat;
      width: 85px;
      height: 40px;
      float: left;
      color: #ccc;
      text-decoration: none;
      text-align: right;
      font-size: 9px;
    }
    a.cooking {
      background: url(../img/menu-sprite-v2.png) -628px -3px no-repeat;
      width: 110px;
      height: 40px;
      color: #ccc;
      text-decoration: none;
      span {
        margin-top: -7%;
        width: 70px;
        float: right;
        font-size: 9px;
      }
    }
    a.breakfast {
      background: url(../img/menu-sprite-v2.png) -495px -3px no-repeat;
      width: 110px;
      height: 40px;
      color: #ccc;
      text-decoration: none;
      span {
        width: 70px;
        float: right;
        font-size: 9px;

      }
    }
    a.food {
      background: url(../img/menu-sprite-v2.png) -379px -3px no-repeat;
      width: 100px;
      height: 40px;
      color: #ccc;
      text-decoration: none;
      span {
        margin-top: -7%;
        width: 70px;
        float: right;
        font-size: 9px;
      }
    }
    a.garment {
      background: url(../img/menu-sprite-v2.png) -762px -3px no-repeat;
      width: 110px;
      height: 40px;
      color: #ccc;
      text-decoration: none;
      span {
        margin-top: -7%;
        width: 70px;
        float: right;
        font-size: 9px;
      }
    }
    a.floor {
      background: url(../img/menu-sprite-v2.png) -132px -3px no-repeat;
      width: 105px;
      height: 40px;
      color: #ccc;
      text-decoration: none;
      span {
        margin-top: -7%;
        width: 70px;
        float: right;
        font-size: 9px;
      }    }
    a.personal {
      background: url(../img/menu-sprite-v2.png) 0px -5px no-repeat;
      width: 105px;
      height: 40px;
      color: #ccc;
      text-decoration: none;
      span {
        margin-top: -7%;
        width: 70px;
        float: right;
        font-size: 9px;
      }    }
    a.heating {
      background: url(../img/menu-sprite-v2.png) -901px -3px no-repeat;
      width: 105px;
      height: 40px;
      color: #ccc;
      text-decoration: none;
      span {
        margin-top: -7%;
        width: 70px;
        float: right;
        font-size: 9px;
      }    }*/

}
.navbar-inverse .navbar-inner .nav li {
  max-width: 110px;
}
.navbar-inverse .navbar-inner .nav li a:hover {
  color: black;
}
.cart-icon {
  background: url(../img/icons.png) no-repeat -63px -2px;
  width: 22px;
  height: 16px;
  margin-left: 3px;
  margin-top: 2px;
}
.topnavigation-cart {
  padding: 20px;
  color: #878787;
}
.topnavigation-cart a {
  color: #b5b5b5;
  text-decoration: none;
  font-weight: bold;
}
.topnavigation-cart .total {
  border-left: 1px solid #878787;
  margin-left: 6px;
  padding-left: 6px;
}
.topnavigation-cart .fon-11 {
  font-size: 11px;
}
#mainCarousel .carousel-inner .item img {
  width: 100%;
}
#mainCarouselContainer {
  padding-top: 15%;
}
#mainCarouselContainer .row {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#productDescription {
  padding-top: 15%;
}
.form-search {
  margin-top: 20px;
}
@media (max-width: 979px) {
  #mainCarouselContainer,
  #productDescription {
    padding-top: 0%;
  }
  .navbar-inverse .navbar-inner .nav li {
    max-width: 100%;
  }
  .navbar-inverse .nav-collapse .nav > li > a:hover,
  .navbar-inverse .nav-collapse .nav > li > a:focus,
  .navbar-inverse .nav-collapse .dropdown-menu a:hover,
  .navbar-inverse .nav-collapse .dropdown-menu a:focus {
    background-color: #111111;
    color: #fff;
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  #relatedCarousel {
    display: none;
  }
}
#relatedCarousel .item a {
  text-decoration: none;
}
#relatedCarousel .item a span.text {
  padding-bottom: 8px;
  font-size: 14px;
  padding-top: 8px;
  color: #000;
  float: none;
}
#relatedCarousel .item a div.price {
  color: #d92128;
  font-size: 14px;
  text-decoration: none;
  margin-top: 10px;
}
#relatedCarousel .item a:hover div.price {
  color: #d92128;
  font-size: 14px;
  text-decoration: none;
  margin-top: 10px;
}
.box {
  float: left;
  margin-left: 43px;
  margin-right: 6px;
}
ul#breadcrumb li a {
  color: black;
  text-decoration: underline;
}
/*#product .column .prod-img {*/
#img {
  float: left;
  margin-top: 10px;
  font-size: 11px;
  padding-left: 8px;
}
#img img {
  height: 100%;
  width: 100%;
}
#breadcrumb .active {
  color: red;
}
.title {
  color: #d92128;
  float: left;
  font-size: 24px;
  margin-bottom: 10px;
}
.main-title {
  font-size: 31px;
  color: #d92128;
  float: left;
  margin: 10px;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 20px;
}
.product {
  margin-right: -24px;
  font-size: 35px;
  width: 485px;
  text-align: justify;
  margin-top: -396px;
  margin-bottom: 37px;
}
.fb {
  background-image: url(http://passets.pinterest.com/images/pidgets/bps1.png) !important;
  background-repeat: none!important;
  background-size: 40px 60px!important;
  height: 20px!important;
  margin: 0!important;
  padding: 0!important;
  vertical-align: baseline!important;
  text-decoration: none!important;
  width: 40px!important;
  background-position: 0 -20px;
}
.price {
  font-size: 25px;
  /*margin-right: 161px;*/

  margin-top: -354px;
  margin-bottom: 37px;
}
.col-2 ul li {
  padding-left: 23px;
  width: 420px;
  margin-bottom: 5px;
}
.tab-content {
  padding-left: 23px;
  width: 420px;
  margin-bottom: 5px;
}
.tab-content .tab-pane .box {
  margin-top: 5px;
}
.tab-content .tab-pane .title {
  margin-top: 5px;
}
